.modalContent {
  display: flex;
  flex-grow: 1;
}

.modalInput {
  width: 100%;
  margin-right: 4px;
  box-shadow: 3px 3px 3px rgb(128 128 128 / 19%);
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 6px;
}

.authButtonContainer {
  display: flex;
  align-items: center;
}

.authButtonIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
