.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.saveButton {
}

.versionSelector {
  border: 1px solid #bebebe;
  box-shadow: 3px 3px 3px rgb(128 128 128 / 19%);
  border-radius: 4px;
  margin-right: 4px;
  height: 33px;
  padding: 0 0 0 6px;
}
